.day-header{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    background: linear-gradient(left ,#4180F6,#F7C9F3) ;
    box-shadow: 0 1px 0 0 #110038;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 0.5%;        
}
.day-nav-bar-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 0%;

    .day-nav-bar{
        display: flex;
        .black-button-crear{
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        padding: 9px 24px;
        text-decoration: none;
        margin-left: -50%;
        &:hover{                
            background: #A72CB3;
            .style-button-crear{
                background: #FFFFFF;
                border:  1px dotted #110038;                    
            }
        }
        &:active{
            background: #A72CB3;
            .style-button-crear{
                border:  1px dotted #110038;                    
            }
        }
        .style-black-button-crear{                
            font-family: 'Chakra Petch', sans-serif;
            font-size: 16px;
            color: white;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px;   
        }
    }
    .day-container-elegir{
        display: flex;
        flex-direction: column;
        width: 25%px;
        margin-left: -25%;
        .day-container-button-elegir{
        .black-button-elegir{
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            padding: 9px 24px;
            &:hover{                
                background: #A72CB3;
                .style-button-elegir {
                    background: #A72CB3;
                    border: 1px dotted #110038;
                }
            }   
            &:active{
                background: #A72CB3;
                .style-button-elegir{
                    border:  1px dotted #110038;                    
                }
            }
        }
            .style-black-button-elegir{
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: white;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
                cursor: pointer;

            }
        }
        .black-button-drop{
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            padding: 10.5px 14px;
            position: relative;
            cursor: pointer;
            &:hover{                
                background: #A72CB3;
                .style-button-drop {
                    border:  1px dotted #110038; 
                }
            }
            &:active{
                background: #A72CB3;
                .style-button-drop{
                    border:  1px dotted #110038;                    
                }
            }
        }
        
    }
    .day-container-option{
        display: none;
        flex-direction: column;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        padding: 1% 1%;
        margin-right: 0%;
        width: 11%;
        margin-top: 3%;
        .option-day-black{
            margin-bottom: 10%;
            padding: 5%;
            font-family: 'Chakra Petch', regular;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 22px;
            background: #B4B4B4;
            cursor: pointer;
                &:active{
                    background-color: #2E32FB;
                    span {
                        text-decoration: underline;
                    }
                }
            
        }
        .option-night-black{
            padding: 5%;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 22px;
            background: #B4B4B4;  
            cursor: pointer;              
            &:active{
                background-color: #2E32FB;
                span {
                    text-decoration: underline;
                    background-color: #2E32FB;
                }
            }
        }
    }
    li {
        list-style: none;
    }
.black-container-gifos{
    a{
        margin-left: -20%;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 16px;
        color: white;
        letter-spacing: 0;
        line-height: 18px;
        span{
            text-decoration: underline;
            font-family: ChakraPetch-Regular;
            font-size: 16px;
        }
        &:hover{            
            border:  1px dotted white; 
        }
        &:active{            
            font-family: 'Chakra Petch', sans-serif;
            font-size: 16px;
            color: #B4B4B4;
            letter-spacing: 0;
            line-height: 18px; 
        }
    }
}
}

}

