.container-gifs-api{
    display: flex;
    flex-wrap: wrap;
    img {
        width: 24%;
        object-fit: cover;
        margin: 0.5%;
    }
}

.container-gifs-galery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    img {
        width: 25%;
        object-fit: cover;
        margin: 0.5%;
    }
}