
.day-body-container-gifos{
            .day-container-galery{
                margin-left: 5%;
                margin-top: 5%;
                width: 94%;
                        .day-title-galery{
                            background: #FFFAFE;
                            border: 1px solid #E6BBE2;
                            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
                            margin-top: 3%;
                            padding: 0.3%;
                        }
            }
}