* {
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
    }
}
@import './light-header-index';
@import './light-body-index';
@import './light-body-gifos';
@import './light-body-upload';
@import './black-body-index';
@import './black-header-index';
@import './gifs-style';